################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VaersCalculation/obj
/.vs
/VaersCalculation/bin/Debug
